<% provide :title, t(".ab") %>
<%= link_to t(".eng"), locale: "en" %>
<%= link_to t(".vie"), locale: "vi" %>
<h1><%= t(".ab") %></h1>
<p>
  <%= link_to t(".theruby"),
   "https://www.railstutorial.org/" %> <%= t(".isa") %>
  <%= link_to t(".b"), "https://www.railstutorial.org/book" %>
  <%= t(".and") %> <%=  link_to t(".series"), "http://screencasts.railstutorial.org/" %>
  <%= t(".twdw") %> <%= link_to t(".ror"), "http://rubyonrails.org/" %>
  <%= t(".saftt") %>
</p>
