<% provide :title, t(".con") %>
<%= link_to t(".eng"), locale: "en" %>
<%= link_to t(".vie"), locale: "vi" %>
<h1><%= t(".con") %></h1>
<p>
  <%= t(".ctRoR") %> <%= link_to t(".ctpage"), "https://www.railstutorial.org/contact" %>
</p>
