<% provide :title, t(".help") %>
<h1><%= t(".help") %></h1>
<p>
  <%= t(".pagehelp") %> <%= link_to t(".helppage"), Settings.rails_help %>
  <%= t(".apphelp") %> <%= link_to t(".book"), Settings.rails_book %>
</p>
