<% provide :title, t(".home") %>
<%= link_to t(".eng"), locale: "en" %>
<%= link_to t(".vie"), locale: "vi" %>
<h1><%= t(".sample") %></h1>
<p>
  <%= t(".tutorial") %> <%= link_to t(".theruby"), 
  "https://www.railstutorial.org/" %>
</p>
